.formElement {
  margin-top: 15px;
  background: white;
  border-bottom: none;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}
.formDropdownWrapper {
  display: webkit-flex;
  display: flex;
  align-items: center;
}
.formDropdown {
  text-transform: unset;
  width: 125px;
  text-align: left;
}
body {
  background: #EDF1F2;
}
body h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #26559E;
  margin-bottom: 35px;
}
body .contract {
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  position: relative;
}
body .contract .breadcrumb {
  color: black;
}
body .contract .breadcrumb:first-child {
  color: #4AB6C2;
  font-size: 2em;
}
body .contract .breadcrumb:before {
  color: black;
  vertical-align: bottom;
}
body .contract .tabs .indicator {
  background-color: transparent;
}
body .contract .tabs .tab {
  text-transform: unset;
}
body .contract .tabs .tab a {
  color: #215098;
  background: none;
}
body .contract .tabs .tab a:hover,
body .contract .tabs .tab a.active,
body .contract .tabs .tab a:focus,
body .contract .tabs .tab a:focus.active {
  border-bottom: none;
  background: #26559E;
  color: white;
}
body .contract .btn-floating {
  position: absolute;
  right: 0;
  bottom: -60px;
  background-color: #26559E;
}
body .personBlock {
  padding: 15px 20px;
  background: white;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
body .personBlock .personBlock__bio {
  display: -webkit-flex;
  display: flex;
}
body .personBlock .personBlock__bio .personBlock__avatar {
  width: 60px;
  height: 60px;
}
body .personBlock .personBlock__bio .personBlock__details {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}
body .personBlock .personBlock__actions {
  display: webkit-flex;
  display: flex;
  align-items: center;
}
body .personBlock .personBlock__actions .personBlock__dropdown {
  box-shadow: none;
  background: #ECF2F2;
  color: black;
  position: relative;
  padding-right: 40px;
  text-transform: unset;
  width: 125px;
  text-align: left;
}
body .personBlock .personBlock__actions .personBlock__dropdown i.material-icons {
  position: absolute;
  right: 15px;
}
body .personBlock .personBlock__actions .personBlock__dropdown + .dropdown-content {
  border: 2px solid #4AB6C2;
}
body .personBlock .personBlock__actions .personBlock__dropdown + .dropdown-content li > a {
  font-size: 14px;
}
body .personBlock .personBlock__setRole {
  display: webkit-flex;
  display: flex;
  align-items: center;
}
body .personBlock .personBlock__setRole .personBlock__dropdown {
  box-shadow: none;
  background: #4AB6C2;
  display: webkit-flex;
  display: flex;
  align-items: center;
  text-transform: unset;
  width: 125px;
  text-align: left;
}
body .personBlock .personBlock__setRole .personBlock__dropdown i.material-icons {
  font-size: 1.25em;
  margin-right: 10px;
}
body .personBlock .personBlock__setRole .personBlock__dropdown + .dropdown-content {
  border: 2px solid #4AB6C2;
}
body .personBlock .personBlock__setRole .personBlock__dropdown + .dropdown-content li > a {
  font-size: 14px;
}
body .peopleForm {
  margin-top: 30px;
}
body .peopleForm .peopleForm__formGroup label,
body .peopleForm .peopleForm__formGroup label.active {
  font-weight: bold;
  color: black;
  font-size: 1rem;
}
body .peopleForm .peopleForm__formGroup input[type=text] {
  margin-top: 15px;
  background: white;
  border-bottom: none;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}
body .peopleForm .peopleForm__formGroup input[type=text]:focus {
  border-bottom: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}
body .peopleForm .peopleForm__formGroup input[type=text]:not(.browser-default):focus:not([readonly]) + label {
  color: unset;
}
body .peopleForm .peopleForm__formGroup select {
  margin-top: 15px;
  background: white;
  border-bottom: none;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 30px);
}
body .peopleForm .peopleFormButton {
  color: black;
  text-transform: unset;
  box-shadow: none;
  border: 1px solid #DAC86A;
  font-weight: bold;
  padding: 5px 45px;
  height: auto;
}
body .peopleForm .peopleFormButton.-outline {
  background: white;
}
body .peopleForm .peopleFormButton.-back {
  margin-right: 15px;
}
body .peopleForm .peopleFormButton.-primary {
  background: #FCD14F;
}
