//Define colors
@color-body-bg: #EDF1F2;
@color-cta: #FCD14F;
@color-blue: #26559E;
@color-grey: #ECF2F2;
@color-dropdown-bg: #4AB6C2;

//Mixins
.formElement{
    margin-top: 15px;
    background: white;
    border-bottom: none;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 30px);
}

.formDropdownWrapper{
    display: webkit-flex;
    display: flex;
    align-items: center;
}

.formDropdown{
    text-transform: unset;
    width: 125px;
    text-align: left;
}

//Utility Class
.mb-0{
    margin-bottom: 0 !important;
}

body{
    background: @color-body-bg;
    h2{
        font-size: 1.5em;
        font-weight: bold;
        color: @color-blue;
        margin-bottom: 35px;
    }
    .contract{
        padding-top: 10px;
        padding-bottom: 10px;
        height: auto;
        position: relative;
        .breadcrumb{
            color: black;
            &:first-child{
                color: @color-dropdown-bg;
                font-size: 2em;
            }     
            &:before{
                color: black;
                vertical-align: bottom;
            }
        }
        .tabs{
            .indicator{
                background-color: transparent;
            }
            .tab{
                text-transform: unset;
                a{
                    color: #215098;
                    font-weight: bold;
                    background: none;
                }
                a:hover, a.active, a:focus, a:focus.active{
                    border-bottom: none;
                    background: @color-blue;
                    color: white;
                }
            }
        }
        .btn-floating{
            position: absolute;
            right: 0;
            bottom: -60px;
            background-color: @color-blue;
        }
    }   
    .personBlock{
        padding: 15px 20px;
        background: white;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        .personBlock__remove{
            .formDropdownWrapper();
            & > a{
                height: 2em;
                & > i{
                    font-size: 2em;
                }  
            } 
        }
        &.-nonremovable{
            .personBlock__remove{
                & > a{
                    visibility: hidden;
                }
            }
        }
        .personBlock__bio {
            display: -webkit-flex;
            display: flex;  
            .personBlock__avatar {
                width: 60px;
                height: 60px;
            }
            .personBlock__details{
                display: -webkit-flex;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 15px;
            }
        }
        .personBlock__actions{
            .formDropdownWrapper();
            .personBlock__dropdown{
                box-shadow: none;
                background: @color-grey;
                color: black;
                position: relative;
                padding-right: 40px;
                i.material-icons{    
                    position: absolute;
                    right: 15px;
                }
                .formDropdown();   
                & + .dropdown-content{
                    border: 2px solid @color-dropdown-bg;
                    li > a{
                        font-size: 14px;
                    }
                }
            }
        } 
        .personBlock__setRole{
            .formDropdownWrapper();
            .personBlock__dropdown{
                box-shadow: none;
                background: @color-dropdown-bg;
                .formDropdownWrapper();
                i.material-icons{
                    font-size: 1.25em;
                    margin-right: 10px;
                }
                .formDropdown();
                & + .dropdown-content{
                    border: 2px solid @color-dropdown-bg;
                    width: auto !important;
                    li > span {
                        white-space: nowrap;
                    }
                    li > a{
                        font-size: 14px;
                    }
                    li:first-child{
                        cursor: unset;  
                        &:hover{
                            background: none;
                        }
                        & > a{
                            font-weight: bold;
                            color: black;
                            &:hover{
                                background: none;
                            }
                        }
                    }
                }
            }
        }
    }
    .peopleForm{
        margin-top: 30px;
        .peopleForm__formGroup{
            &>label{
                position: relative;
                transform: none;
                left: 0;
            }
            label, label.active{
                font-weight: bold;
                color: black;
                font-size: 15px;
            }
            input[type=text]{
                .formElement();
                &:focus{
                    border-bottom: none;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
                }
                &:not(.browser-default):focus:not([readonly])+label{
                    color: unset;
                }
            }
            select{
                .formElement();
            }
        }
        .peopleFormButton{
            color: black;
            text-transform: unset;
            box-shadow: none;
            border: 1px solid #DAC86A;
            font-weight: bold;
            padding: 5px 45px;
            height: auto;
        }
        .peopleFormButton.-outline{
            background: white;
        }
        .peopleFormButton.-back{
            margin-right: 15px;
        }
        .peopleFormButton.-primary{
            background: @color-cta;
        }
    }
}